{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.apicatalog/titanium-json-ld {:mvn/version "0.8.4"}
        org.glassfish/jakarta.json {:mvn/version "1.1.6"}}
 :aliases
 {:test {:extra-paths ["test" "test-resources"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
        :main-opts ["-m" "hf.depstar.jar" "target/json-ld.jar"]}
  :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
            :main-opts ["-m" "deps-deploy.deps-deploy" "install" "target/json-ld.jar"]}
  :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
           :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/json-ld.jar"]}}}
