{:paths ["src" "resources"]

 :deps {org.clojure/clojure       {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}}

 :aliases
 {:mvn/group-id    com.fluree
  :mvn/artifact-id json-ld
  :mvn/version     "0.1.0"

  :dev
  {:extra-paths ["dev", "test"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                 cheshire/cheshire           {:mvn/version "5.10.1"}
                 thheller/shadow-cljs        {:mvn/version "2.20.5"}}
   :main-opts   ["-e" "(require,'user)"
               "-e" "(in-ns,'user)"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:jar         "target/fluree-json-ld.jar"
                  :group-id    :mvn/group-id
                  :artifact-id :mvn/artifact-id
                  :version     :mvn/version
                  :sync-pom    true}}

  :install
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer :local
                :artifact  "target/fluree-json-ld.jar"}}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer      :remote
                :sign-releases? false
                :artifact       "target/fluree-json-ld.jar"}}}}
