{:paths ["src" "resources"]

 :deps {org.clojure/clojure             {:mvn/version "1.11.1"}
        org.clojure/clojurescript       {:mvn/version "1.11.60"}
        org.clojure/math.combinatorics  {:mvn/version "0.1.6"}
        com.apicatalog/titanium-json-ld {:mvn/version "1.3.1"}
        org.glassfish/jakarta.json      {:mvn/version "2.0.1"}
        org.glassfish/javax.json        {:mvn/version "1.1.4"}
        javax.json/javax.json-api       {:mvn/version "1.1.4"}
        io.setl/rdf-urdna               {:mvn/version "1.2"}
        metosin/jsonista                {:mvn/version "0.3.6"}
        instaparse/instaparse     {:mvn/version "1.4.12"}
        com.fluree/crypto         {:mvn/version "0.3.9"}
        lambdaisland/regal        {:mvn/version "0.0.143"}}

 :aliases
 {:mvn/group-id    com.fluree
  :mvn/artifact-id json-ld
  :mvn/version     "0.1.0"

  :dev
  {:extra-paths ["dev", "test"]
   :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                 org.clojure/test.check      {:mvn/version "1.1.1"}
                 cheshire/cheshire           {:mvn/version "5.10.1"}
                 thheller/shadow-cljs        {:mvn/version "2.20.5"}}
   :main-opts   ["-e" "(require,'user)"
                 "-e" "(in-ns,'user)"]}

  :test
  {:extra-paths ["test" "test-resources"]
   :extra-deps  {cheshire/cheshire {:mvn/version "5.10.1"}
                 com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:jar         "target/fluree-json-ld.jar"
                  :group-id    :mvn/group-id
                  :artifact-id :mvn/artifact-id
                  :version     :mvn/version
                  :sync-pom    true}}

  :install
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer :local
                :artifact  "target/fluree-json-ld.jar"}}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer      :remote
                :sign-releases? false
                :artifact       "target/fluree-json-ld.jar"}}}}
