{
 ;; additions here by Fluree for forthcoming security context update (post-v1)
 "EcdsaSecp256k1VerificationKey2019" {:id "https://w3id.org/security#EcdsaSecp256k1VerificationKey2019"},
 "publicKeyMultibase"                {:id "https://w3id.org/security#publicKeyMultibase"}
 ;; below is the original v1 context
 "EncryptedMessage"                  {:id "https://w3id.org/security#EncryptedMessage"},
 "dc"                                {:id "http://purl.org/dc/terms/"},
 "canonicalizationAlgorithm"         {:id "https://w3id.org/security#canonicalizationAlgorithm"},
 "owner"                             {:id   "https://w3id.org/security#owner",
                                      :type :id},
 "created"                           {:id   "http://purl.org/dc/terms/created",
                                      :type "http://www.w3.org/2001/XMLSchema#dateTime"},
 "signatureValue"                    {:id "https://w3id.org/security#signatureValue"},
 "CryptographicKey"                  {:id "https://w3id.org/security#Key"},
 "publicKeyPem"                      {:id "https://w3id.org/security#publicKeyPem"},
 "iterationCount"                    {:id "https://w3id.org/security#iterationCount"},
 "id"                                {:id "@id"},
 "publicKey"                         {:id   "https://w3id.org/security#publicKey",
                                      :type :id},
 "Ed25519Signature2018"              {:id "https://w3id.org/security#Ed25519Signature2018"},
 "publicKeyWif"                      {:id "https://w3id.org/security#publicKeyWif"},
 "GraphSignature2012"                {:id "https://w3id.org/security#GraphSignature2012"},
 "creator"                           {:id   "http://purl.org/dc/terms/creator",
                                      :type :id},
 "publicKeyBase58"                   {:id "https://w3id.org/security#publicKeyBase58"},
 "cipherAlgorithm"                   {:id "https://w3id.org/security#cipherAlgorithm"},
 "digestAlgorithm"                   {:id "https://w3id.org/security#digestAlgorithm"},
 "LinkedDataSignature2015"           {:id "https://w3id.org/security#LinkedDataSignature2015"},
 "cipherData"                        {:id "https://w3id.org/security#cipherData"},
 "privateKey"                        {:id   "https://w3id.org/security#privateKey",
                                      :type :id},
 "EcdsaKoblitzSignature2016"         {:id "https://w3id.org/security#EcdsaKoblitzSignature2016"},
 "expires"                           {:id   "https://w3id.org/security#expiration",
                                      :type "http://www.w3.org/2001/XMLSchema#dateTime"},
 "signatureAlgorithm"                {:id "https://w3id.org/security#signingAlgorithm"},
 "signature"                         {:id "https://w3id.org/security#signature"},
 "domain"                            {:id "https://w3id.org/security#domain"},
 "LinkedDataSignature2016"           {:id "https://w3id.org/security#LinkedDataSignature2016"},
 "revoked"                           {:id   "https://w3id.org/security#revoked",
                                      :type "http://www.w3.org/2001/XMLSchema#dateTime"},
 "encryptionKey"                     {:id "https://w3id.org/security#encryptionKey"},
 "cipherKey"                         {:id "https://w3id.org/security#cipherKey"},
 "salt"                              {:id "https://w3id.org/security#salt"},
 "digestValue"                       {:id "https://w3id.org/security#digestValue"},
 "type"                              {:id "@type"},
 "password"                          {:id "https://w3id.org/security#password"},
 "expiration"                        {:id   "https://w3id.org/security#expiration",
                                      :type "http://www.w3.org/2001/XMLSchema#dateTime"},
 "publicKeyService"                  {:id   "https://w3id.org/security#publicKeyService",
                                      :type :id},
 "nonce"                             {:id "https://w3id.org/security#nonce"},
 "authenticationTag"                 {:id "https://w3id.org/security#authenticationTag"},
 "privateKeyPem"                     {:id "https://w3id.org/security#privateKeyPem"},
 "sec"                               {:id "https://w3id.org/security#"},
 "normalizationAlgorithm"            {:id "https://w3id.org/security#normalizationAlgorithm"},
 "initializationVector"              {:id "https://w3id.org/security#initializationVector"},
 "xsd"                               {:id "http://www.w3.org/2001/XMLSchema#"}}