{"zeroOrMorePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#zeroOrMorePath"},
 "sourceConstraintComponent"
 {:type :id,
  :id "http://www.w3.org/ns/shacl#sourceConstraintComponent"},
 "http://www.w3.org/ns/shacl#targetObjectsOf"
 {:type :id, :id "http://www.w3.org/ns/shacl#targetObjectsOf"},
 "sparql" {:type :id, :id "http://www.w3.org/ns/shacl#sparql"},
 "http://www.w3.org/ns/shacl#target"
 {:type :id, :id "http://www.w3.org/ns/shacl#target"},
 "http://www.w3.org/ns/shacl#targetSubjectsOf"
 {:type :id, :id "http://www.w3.org/ns/shacl#targetSubjectsOf"},
 "http://www.w3.org/ns/shacl#ignoredProperties"
 {:type :id,
  :container :list,
  :id "http://www.w3.org/ns/shacl#ignoredProperties"},
 "http://www.w3.org/ns/shacl#or"
 {:type :id, :container :list, :id "http://www.w3.org/ns/shacl#or"},
 "resultAnnotation"
 {:type :id, :id "http://www.w3.org/ns/shacl#resultAnnotation"},
 "http://www.w3.org/ns/shacl#datatype"
 {:type :id, :id "http://www.w3.org/ns/shacl#datatype"},
 "http://www.w3.org/ns/shacl#minLength"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#minLength"},
 "http://www.w3.org/ns/shacl#severity"
 {:type :id, :id "http://www.w3.org/ns/shacl#severity"},
 "targetClass"
 {:type :id, :id "http://www.w3.org/ns/shacl#targetClass"},
 "http://www.w3.org/ns/shacl#propertyValidator"
 {:type :id, :id "http://www.w3.org/ns/shacl#propertyValidator"},
 "parameter" {:type :id, :id "http://www.w3.org/ns/shacl#parameter"},
 "http://www.w3.org/ns/shacl#zeroOrMorePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#zeroOrMorePath"},
 "http://www.w3.org/ns/shacl#sourceConstraintComponent"
 {:type :id,
  :id "http://www.w3.org/ns/shacl#sourceConstraintComponent"},
 "prefixes" {:type :id, :id "http://www.w3.org/ns/shacl#prefixes"},
 "declare" {:type :id, :id "http://www.w3.org/ns/shacl#declare"},
 "http://www.w3.org/ns/shacl#sparql"
 {:type :id, :id "http://www.w3.org/ns/shacl#sparql"},
 "http://www.w3.org/ns/shacl#parameter"
 {:type :id, :id "http://www.w3.org/ns/shacl#parameter"},
 "resultSeverity"
 {:type :id, :id "http://www.w3.org/ns/shacl#resultSeverity"},
 "http://www.w3.org/ns/shacl#group"
 {:type :id, :id "http://www.w3.org/ns/shacl#group"},
 "http://www.w3.org/ns/shacl#not"
 {:type :id, :id "http://www.w3.org/ns/shacl#not"},
 "not" {:type :id, :id "http://www.w3.org/ns/shacl#not"},
 "minLength"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#minLength"},
 "languageIn"
 {:container :list, :id "http://www.w3.org/ns/shacl#languageIn"},
 "http://www.w3.org/ns/shacl#validator"
 {:type :id, :id "http://www.w3.org/ns/shacl#validator"},
 "group" {:type :id, :id "http://www.w3.org/ns/shacl#group"},
 "http://www.w3.org/ns/shacl#nodeKind"
 {:type :id, :id "http://www.w3.org/ns/shacl#nodeKind"},
 "class" {:type :id, :id "http://www.w3.org/ns/shacl#class"},
 "maxCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#maxCount"},
 "zeroOrOnePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#zeroOrOnePath"},
 "http://www.w3.org/ns/shacl#oneOrMorePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#oneOrMorePath"},
 "rdf" {:id "http://www.w3.org/1999/02/22-rdf-syntax-ns#"},
 "minCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#minCount"},
 "http://www.w3.org/ns/shacl#and"
 {:type :id, :container :list, :id "http://www.w3.org/ns/shacl#and"},
 "derivedValues"
 {:type :id, :id "http://www.w3.org/ns/shacl#derivedValues"},
 "http://www.w3.org/ns/shacl#result"
 {:type :id, :id "http://www.w3.org/ns/shacl#result"},
 "http://www.w3.org/ns/shacl#path"
 {:type :id, :id "http://www.w3.org/ns/shacl#path"},
 "alternativePath"
 {:type :id,
  :container :list,
  :id "http://www.w3.org/ns/shacl#alternativePath"},
 "http://www.w3.org/ns/shacl#property"
 {:type :id, :id "http://www.w3.org/ns/shacl#property"},
 "returnType" {:type :id, :id "http://www.w3.org/ns/shacl#returnType"},
 "targetSubjectsOf"
 {:type :id, :id "http://www.w3.org/ns/shacl#targetSubjectsOf"},
 "http://www.w3.org/ns/shacl#xone"
 {:type :id, :container :list, :id "http://www.w3.org/ns/shacl#xone"},
 "http://www.w3.org/ns/shacl#lessThan"
 {:type :id, :id "http://www.w3.org/ns/shacl#lessThan"},
 "http://www.w3.org/ns/shacl#inversePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#inversePath"},
 "detail" {:type :id, :id "http://www.w3.org/ns/shacl#detail"},
 "path" {:type :id, :id "http://www.w3.org/ns/shacl#path"},
 "http://www.w3.org/ns/shacl#annotationProperty"
 {:type :id, :id "http://www.w3.org/ns/shacl#annotationProperty"},
 "http://www.w3.org/ns/shacl#targetClass"
 {:type :id, :id "http://www.w3.org/ns/shacl#targetClass"},
 "http://www.w3.org/ns/shacl#class"
 {:type :id, :id "http://www.w3.org/ns/shacl#class"},
 "targetObjectsOf"
 {:type :id, :id "http://www.w3.org/ns/shacl#targetObjectsOf"},
 "nodeKind" {:type :id, :id "http://www.w3.org/ns/shacl#nodeKind"},
 "maxLength"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#maxLength"},
 :type-key "@type",
 "lessThanOrEquals"
 {:type :id, :id "http://www.w3.org/ns/shacl#lessThanOrEquals"},
 "or"
 {:type :id, :container :list, :id "http://www.w3.org/ns/shacl#or"},
 "http://www.w3.org/ns/shacl#shapesGraph"
 {:type :id, :id "http://www.w3.org/ns/shacl#shapesGraph"},
 :vocab "http://www.w3.org/ns/shacl#",
 "http://www.w3.org/ns/shacl#sourceShape"
 {:type :id, :id "http://www.w3.org/ns/shacl#sourceShape"},
 "resultPath" {:type :id, :id "http://www.w3.org/ns/shacl#resultPath"},
 "propertyValidator"
 {:type :id, :id "http://www.w3.org/ns/shacl#propertyValidator"},
 "property" {:type :id, :id "http://www.w3.org/ns/shacl#property"},
 "disjoint" {:type :id, :id "http://www.w3.org/ns/shacl#disjoint"},
 "http://www.w3.org/ns/shacl#alternativePath"
 {:type :id,
  :container :list,
  :id "http://www.w3.org/ns/shacl#alternativePath"},
 "lessThan" {:type :id, :id "http://www.w3.org/ns/shacl#lessThan"},
 "http://www.w3.org/ns/shacl#minCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#minCount"},
 "http://www.w3.org/ns/shacl#returnType"
 {:type :id, :id "http://www.w3.org/ns/shacl#returnType"},
 "rdfs" {:id "http://www.w3.org/2000/01/rdf-schema#"},
 "http://www.w3.org/ns/shacl#qualifiedValueShape"
 {:type :id, :id "http://www.w3.org/ns/shacl#qualifiedValueShape"},
 "and"
 {:type :id, :container :list, :id "http://www.w3.org/ns/shacl#and"},
 "http://www.w3.org/ns/shacl#namespace"
 {:type "http://www.w3.org/2001/XMLSchema#anyURI",
  :id "http://www.w3.org/ns/shacl#namespace"},
 "validator" {:type :id, :id "http://www.w3.org/ns/shacl#validator"},
 "http://www.w3.org/ns/shacl#maxLength"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#maxLength"},
 "inversePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#inversePath"},
 "target" {:type :id, :id "http://www.w3.org/ns/shacl#target"},
 "datatype" {:type :id, :id "http://www.w3.org/ns/shacl#datatype"},
 "annotationProperty"
 {:type :id, :id "http://www.w3.org/ns/shacl#annotationProperty"},
 "http://www.w3.org/ns/shacl#detail"
 {:type :id, :id "http://www.w3.org/ns/shacl#detail"},
 "qualifiedValueShape"
 {:type :id, :id "http://www.w3.org/ns/shacl#qualifiedValueShape"},
 "sh" {:id "http://www.w3.org/ns/shacl#"},
 "sourceShape"
 {:type :id, :id "http://www.w3.org/ns/shacl#sourceShape"},
 "qualifiedMinCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#qualifiedMinCount"},
 "http://www.w3.org/ns/shacl#derivedValues"
 {:type :id, :id "http://www.w3.org/ns/shacl#derivedValues"},
 "http://www.w3.org/ns/shacl#resultPath"
 {:type :id, :id "http://www.w3.org/ns/shacl#resultPath"},
 "namespace"
 {:type "http://www.w3.org/2001/XMLSchema#anyURI",
  :id "http://www.w3.org/ns/shacl#namespace"},
 "comment" {:id "http://www.w3.org/2000/01/rdf-schema#comment"},
 "http://www.w3.org/ns/shacl#resultSeverity"
 {:type :id, :id "http://www.w3.org/ns/shacl#resultSeverity"},
 "http://www.w3.org/ns/shacl#disjoint"
 {:type :id, :id "http://www.w3.org/ns/shacl#disjoint"},
 "http://www.w3.org/ns/shacl#equals"
 {:type :id, :id "http://www.w3.org/ns/shacl#equals"},
 "ignoredProperties"
 {:type :id,
  :container :list,
  :id "http://www.w3.org/ns/shacl#ignoredProperties"},
 "nodeValidator"
 {:type :id, :id "http://www.w3.org/ns/shacl#nodeValidator"},
 "http://www.w3.org/ns/shacl#declare"
 {:type :id, :id "http://www.w3.org/ns/shacl#declare"},
 "severity" {:type :id, :id "http://www.w3.org/ns/shacl#severity"},
 "http://www.w3.org/ns/shacl#maxCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#maxCount"},
 "http://www.w3.org/ns/shacl#node"
 {:type :id, :id "http://www.w3.org/ns/shacl#node"},
 "oneOrMorePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#oneOrMorePath"},
 "equals" {:type :id, :id "http://www.w3.org/ns/shacl#equals"},
 "http://www.w3.org/ns/shacl#lessThanOrEquals"
 {:type :id, :id "http://www.w3.org/ns/shacl#lessThanOrEquals"},
 "http://www.w3.org/ns/shacl#qualifiedMaxCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#qualifiedMaxCount"},
 "shapesGraph"
 {:type :id, :id "http://www.w3.org/ns/shacl#shapesGraph"},
 "http://www.w3.org/ns/shacl#nodeValidator"
 {:type :id, :id "http://www.w3.org/ns/shacl#nodeValidator"},
 "qualifiedMaxCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#qualifiedMaxCount"},
 "http://www.w3.org/ns/shacl#zeroOrOnePath"
 {:type :id, :id "http://www.w3.org/ns/shacl#zeroOrOnePath"},
 "node" {:type :id, :id "http://www.w3.org/ns/shacl#node"},
 "http://www.w3.org/ns/shacl#qualifiedMinCount"
 {:type "http://www.w3.org/2001/XMLSchema#integer",
  :id "http://www.w3.org/ns/shacl#qualifiedMinCount"},
 "result" {:type :id, :id "http://www.w3.org/ns/shacl#result"},
 "http://www.w3.org/ns/shacl#prefixes"
 {:type :id, :id "http://www.w3.org/ns/shacl#prefixes"},
 "http://www.w3.org/ns/shacl#resultAnnotation"
 {:type :id, :id "http://www.w3.org/ns/shacl#resultAnnotation"},
 "xsd" {:id "http://www.w3.org/2001/XMLSchema#"},
 "in" {:container :list, :id "http://www.w3.org/ns/shacl#in"},
 "xone"
 {:type :id, :container :list, :id "http://www.w3.org/ns/shacl#xone"}}
