{"message" {:id "https://flur.ee/ns/block/message"},
 "branch" {:id "https://flur.ee/ns/block/branch"},
 "id" {:id "@id"},
 "Block" {:id "https://flur.ee/ns/block/Block"},
 "Commit" {:id "https://flur.ee/ns/block/Commit"},
 "prev" {:id "https://flur.ee/ns/block/prev", :type :id},
 "fluree" {:id "https://flur.ee/ns/block/"},
 "retract" {:id "https://flur.ee/ns/block/retract", :container :graph},
 "t"
 {:id "https://flur.ee/ns/block/t",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "rdfs" {:id "http://www.w3.org/2000/01/rdf-schema#"},
 "tx" {:id "https://flur.ee/ns/block/tx", :type :id},
 "type" {:id "@type"},
 :version 1.1,
 "assert" {:id "https://flur.ee/ns/block/assert", :container :graph},
 "xsd" {:id "http://www.w3.org/2001/XMLSchema#"}}
