{"EcdsaSecp256k1Signature2019"
            {:id "https://w3id.org/security#EcdsaSecp256k1Signature2019",
             :context
                 {"created"
                               {:id   "http://purl.org/dc/terms/created",
                                :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "jws"        {:id "https://w3id.org/security#jws"},
                  "proofPurpose"
                               {:id   "https://w3id.org/security#proofPurpose",
                                :type :vocab,
                                :context
                                      {:version   1.1,
                                       :protected true,
                                       "id"       {:id "@id"},
                                       "type"     {:id "@type"},
                                       "sec"      {:id "https://w3id.org/security#"},
                                       "assertionMethod"
                                                  {:id        "https://w3id.org/security#assertionMethod",
                                                   :type      :id,
                                                   :container :set},
                                       "authentication"
                                                  {:id        "https://w3id.org/security#authenticationMethod",
                                                   :type      :id,
                                                   :container :set}}},
                  "id"         {:id "@id"},
                  "challenge"  {:id "https://w3id.org/security#challenge"},
                  "expires"
                               {:id   "https://w3id.org/security#expiration",
                                :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "domain"     {:id "https://w3id.org/security#domain"},
                  "verificationMethod"
                               {:id "https://w3id.org/security#verificationMethod", :type :id},
                  "proofValue" {:id "https://w3id.org/security#proofValue"},
                  "type"       {:id "@type"},
                  :protected   true,
                  "nonce"      {:id "https://w3id.org/security#nonce"},
                  :version     1.1,
                  "sec"        {:id "https://w3id.org/security#"},
                  "xsd"        {:id "http://www.w3.org/2001/XMLSchema#"}}},
 "id"       {:id "@id"},
 "Ed25519Signature2018"
            {:id "https://w3id.org/security#Ed25519Signature2018",
             :context
                 {"created"
                               {:id   "http://purl.org/dc/terms/created",
                                :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "jws"        {:id "https://w3id.org/security#jws"},
                  "proofPurpose"
                               {:id   "https://w3id.org/security#proofPurpose",
                                :type :vocab,
                                :context
                                      {:version   1.1,
                                       :protected true,
                                       "id"       {:id "@id"},
                                       "type"     {:id "@type"},
                                       "sec"      {:id "https://w3id.org/security#"},
                                       "assertionMethod"
                                                  {:id        "https://w3id.org/security#assertionMethod",
                                                   :type      :id,
                                                   :container :set},
                                       "authentication"
                                                  {:id        "https://w3id.org/security#authenticationMethod",
                                                   :type      :id,
                                                   :container :set}}},
                  "id"         {:id "@id"},
                  "challenge"  {:id "https://w3id.org/security#challenge"},
                  "expires"
                               {:id   "https://w3id.org/security#expiration",
                                :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "domain"     {:id "https://w3id.org/security#domain"},
                  "verificationMethod"
                               {:id "https://w3id.org/security#verificationMethod", :type :id},
                  "proofValue" {:id "https://w3id.org/security#proofValue"},
                  "type"       {:id "@type"},
                  :protected   true,
                  "nonce"      {:id "https://w3id.org/security#nonce"},
                  :version     1.1,
                  "sec"        {:id "https://w3id.org/security#"},
                  "xsd"        {:id "http://www.w3.org/2001/XMLSchema#"}}},
 "VerifiableCredential"
            {:id "https://www.w3.org/2018/credentials#VerifiableCredential",
             :context
                 {"holder"
                             {:id "https://www.w3.org/2018/credentials#holder", :type :id},
                  "credentialSubject"
                             {:id   "https://www.w3.org/2018/credentials#credentialSubject",
                              :type :id},
                  "issuanceDate"
                             {:id   "https://www.w3.org/2018/credentials#issuanceDate",
                              :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "credentialStatus"
                             {:id   "https://www.w3.org/2018/credentials#credentialStatus",
                              :type :id},
                  "validFrom"
                             {:id   "https://www.w3.org/2018/credentials#validFrom",
                              :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "issued"
                             {:id   "https://www.w3.org/2018/credentials#issued",
                              :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "issuer"
                             {:id "https://www.w3.org/2018/credentials#issuer", :type :id},
                  "id"       {:id "@id"},
                  "proof"
                             {:id        "https://w3id.org/security#proof",
                              :type      :id,
                              :container :graph},
                  "credentialSchema"
                             {:id   "https://www.w3.org/2018/credentials#credentialSchema",
                              :type :id,
                              :context
                                    {:version   1.1,
                                     :protected true,
                                     "id"       {:id "@id"},
                                     "type"     {:id "@type"},
                                     "cred"     {:id "https://www.w3.org/2018/credentials#"},
                                     "JsonSchemaValidator2018"
                                                {:id
                                                 "https://www.w3.org/2018/credentials#JsonSchemaValidator2018"}}},
                  "type"     {:id "@type"},
                  "termsOfUse"
                             {:id "https://www.w3.org/2018/credentials#termsOfUse", :type :id},
                  :protected true,
                  "expirationDate"
                             {:id   "https://www.w3.org/2018/credentials#expirationDate",
                              :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "validUntil"
                             {:id   "https://www.w3.org/2018/credentials#validUntil",
                              :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  :version   1.1,
                  "cred"     {:id "https://www.w3.org/2018/credentials#"},
                  "refreshService"
                             {:id   "https://www.w3.org/2018/credentials#refreshService",
                              :type :id,
                              :context
                                    {:version   1.1,
                                     :protected true,
                                     "id"       {:id "@id"},
                                     "type"     {:id "@type"},
                                     "cred"     {:id "https://www.w3.org/2018/credentials#"},
                                     "ManualRefreshService2018"
                                                {:id
                                                 "https://www.w3.org/2018/credentials#ManualRefreshService2018"}}},
                  "sec"      {:id "https://w3id.org/security#"},
                  "evidence"
                             {:id "https://www.w3.org/2018/credentials#evidence", :type :id},
                  "xsd"      {:id "http://www.w3.org/2001/XMLSchema#"}}},
 "proof"
            {:id "https://w3id.org/security#proof", :type :id, :container :graph},
 "type"     {:id "@type"},
 :protected true,
 "EcdsaSecp256r1Signature2019"
            {:id "https://w3id.org/security#EcdsaSecp256r1Signature2019",
             :context
                 {"created"
                               {:id   "http://purl.org/dc/terms/created",
                                :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "jws"        {:id "https://w3id.org/security#jws"},
                  "proofPurpose"
                               {:id   "https://w3id.org/security#proofPurpose",
                                :type :vocab,
                                :context
                                      {:version   1.1,
                                       :protected true,
                                       "id"       {:id "@id"},
                                       "type"     {:id "@type"},
                                       "sec"      {:id "https://w3id.org/security#"},
                                       "assertionMethod"
                                                  {:id        "https://w3id.org/security#assertionMethod",
                                                   :type      :id,
                                                   :container :set},
                                       "authentication"
                                                  {:id        "https://w3id.org/security#authenticationMethod",
                                                   :type      :id,
                                                   :container :set}}},
                  "id"         {:id "@id"},
                  "challenge"  {:id "https://w3id.org/security#challenge"},
                  "expires"
                               {:id   "https://w3id.org/security#expiration",
                                :type "http://www.w3.org/2001/XMLSchema#dateTime"},
                  "domain"     {:id "https://w3id.org/security#domain"},
                  "verificationMethod"
                               {:id "https://w3id.org/security#verificationMethod", :type :id},
                  "proofValue" {:id "https://w3id.org/security#proofValue"},
                  "type"       {:id "@type"},
                  :protected   true,
                  "nonce"      {:id "https://w3id.org/security#nonce"},
                  :version     1.1,
                  "sec"        {:id "https://w3id.org/security#"},
                  "xsd"        {:id "http://www.w3.org/2001/XMLSchema#"}}},
 "VerifiablePresentation"
            {:id "https://www.w3.org/2018/credentials#VerifiablePresentation",
             :context
                 {"holder"
                             {:id "https://www.w3.org/2018/credentials#holder", :type :id},
                  "id"       {:id "@id"},
                  "verifiableCredential"
                             {:id        "https://www.w3.org/2018/credentials#verifiableCredential",
                              :type      :id,
                              :container :graph},
                  "proof"
                             {:id        "https://w3id.org/security#proof",
                              :type      :id,
                              :container :graph},
                  "type"     {:id "@type"},
                  :protected true,
                  :version   1.1,
                  "cred"     {:id "https://www.w3.org/2018/credentials#"},
                  "sec"      {:id "https://w3id.org/security#"}}},
 :version   1.1,
 "RsaSignature2018"
            {:id "https://w3id.org/security#RsaSignature2018",
             :context
                 {"created"
                                       {:id "http://purl.org/dc/terms/created", :type "xsd:dateTime"},
                  "jws"                {:id "sec:jws"},
                  "proofPurpose"
                                       {:id   "sec:proofPurpose",
                                        :type :vocab,
                                        :context
                                              {:version   1.1,
                                               :protected true,
                                               "id"       {:id "@id"},
                                               "type"     {:id "@type"},
                                               "sec"      {:id "https://w3id.org/security#"},
                                               "assertionMethod"
                                                          {:id        "https://w3id.org/security#assertionMethod",
                                                           :type      :id,
                                                           :container :set},
                                               "authentication"
                                                          {:id        "https://w3id.org/security#authenticationMethod",
                                                           :type      :id,
                                                           :container :set}}},
                  "challenge"          {:id "sec:challenge"},
                  "expires"            {:id "sec:expiration", :type "xsd:dateTime"},
                  "domain"             {:id "sec:domain"},
                  "verificationMethod" {:id "sec:verificationMethod", :type :id},
                  "proofValue"         {:id "sec:proofValue"},
                  :protected           true,
                  "nonce"              {:id "sec:nonce"},
                  :version             1.1}}}
