{"score"
 {:id "https://ns.flur.ee/ledger/idx#score",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 "https://ns.flur.ee/ledger/idx#sync"
 {:id "https://ns.flur.ee/ledger/idx#sync",
  :type "http://www.w3.org/2001/XMLSchema#boolean"},
 "https://ns.flur.ee/ledger/idx#property"
 {:id "https://ns.flur.ee/ledger/idx#property", :type :id},
 "id" {:id "@id"},
 "https://ns.flur.ee/ledger/idx#b"
 {:id "https://ns.flur.ee/ledger/idx#b",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 "k1"
 {:id "https://ns.flur.ee/ledger/idx#k1",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 :type-key "type",
 "limit"
 {:id "https://ns.flur.ee/ledger/idx#limit",
  :type "http://www.w3.org/2001/XMLSchema#integer"},
 "https://ns.flur.ee/ledger/idx#timeout"
 {:id "https://ns.flur.ee/ledger/idx#timeout",
  :type "http://www.w3.org/2001/XMLSchema#integer"},
 "sync"
 {:id "https://ns.flur.ee/ledger/idx#sync",
  :type "http://www.w3.org/2001/XMLSchema#boolean"},
 "vector"
 {:id "https://ns.flur.ee/ledger/idx#vector", :container :list},
 "timeout"
 {:id "https://ns.flur.ee/ledger/idx#timeout",
  :type "http://www.w3.org/2001/XMLSchema#integer"},
 "property" {:id "https://ns.flur.ee/ledger/idx#property", :type :id},
 "https://ns.flur.ee/ledger/idx#limit"
 {:id "https://ns.flur.ee/ledger/idx#limit",
  :type "http://www.w3.org/2001/XMLSchema#integer"},
 "fidx" {:id "https://ns.flur.ee/ledger/idx#"},
 "BM25" {:id "https://ns.flur.ee/ledger/idx#BM25"},
 "type" {:id "@type", :type? true},
 "b"
 {:id "https://ns.flur.ee/ledger/idx#b",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 "https://ns.flur.ee/ledger/idx#score"
 {:id "https://ns.flur.ee/ledger/idx#score",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 "target" {:id "https://ns.flur.ee/ledger/idx#target"},
 :version 1.1,
 "https://ns.flur.ee/ledger/idx#result"
 {:id "https://ns.flur.ee/ledger/idx#result", :type :id},
 "result" {:id "https://ns.flur.ee/ledger/idx#result", :type :id},
 "xsd" {:id "http://www.w3.org/2001/XMLSchema#"},
 "https://ns.flur.ee/ledger/idx#k1"
 {:id "https://ns.flur.ee/ledger/idx#k1",
  :type "http://www.w3.org/2001/XMLSchema#decimal"}}
