{"message" {:id "https://ns.flur.ee/ledger#message"},
 "role" {:id "https://ns.flur.ee/ledger#role", :type :id},
 "opsTransact" {:id "https://ns.flur.ee/ledger#opsTransact"},
 "Context" {:id "https://ns.flur.ee/ledger#Context"},
 "updates" {:id "https://ns.flur.ee/ledger#updates"},
 "branch" {:id "https://ns.flur.ee/ledger#branch"},
 "DB" {:id "https://ns.flur.ee/ledger#DB"},
 "v"
 {:id "https://ns.flur.ee/ledger#v",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 "id" {:id "@id"},
 "flakes"
 {:id "https://ns.flur.ee/ledger#flakes",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "Role" {:id "https://ns.flur.ee/ledger#Role"},
 :type-key "type",
 "Commit" {:id "https://ns.flur.ee/ledger#Commit"},
 "allTypes" {:id "https://ns.flur.ee/ledger#allTypes"},
 "tag" {:id "https://ns.flur.ee/ledger#tag"},
 "rules" {:id "https://ns.flur.ee/ledger#rules", :type :id},
 "context" {:id "https://ns.flur.ee/ledger#context"},
 "fluree" {:id "https://ns.flur.ee/ledger#"},
 "opsQuery" {:id "https://ns.flur.ee/ledger#opsQuery"},
 "retract"
 {:id "https://ns.flur.ee/ledger#retract", :container :graph},
 "functions" {:id "https://ns.flur.ee/ledger#function", :type :id},
 "time" {:id "https://ns.flur.ee/ledger#time"},
 "prevDB" {:id "https://ns.flur.ee/ledger#prevDB", :type :id},
 "t"
 {:id "https://ns.flur.ee/ledger#t",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "rdfs" {:id "http://www.w3.org/2000/01/rdf-schema#"},
 "opsAll" {:id "https://ns.flur.ee/ledger#opsAll"},
 "Rule" {:id "https://ns.flur.ee/ledger#Rule"},
 "prevCommit" {:id "https://ns.flur.ee/ledger#prevCommit", :type :id},
 "tx" {:id "https://ns.flur.ee/ledger#tx", :type :id},
 "type" {:id "@type", :type? true},
 "DID" {:id "https://ns.flur.ee/ledger#DID"},
 "db" {:id "https://ns.flur.ee/ledger#db", :type :id},
 "alias" {:id "https://ns.flur.ee/ledger#alias"},
 "size"
 {:id "https://ns.flur.ee/ledger#size",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "Function" {:id "https://ns.flur.ee/ledger#Function"},
 :version 1.1,
 "CommitProof" {:id "https://ns.flur.ee/ledger#CommitProof"},
 "skos" {:id "http://www.w3.org/2008/05/skos#"},
 "code" {:id "https://ns.flur.ee/ledger#code"},
 "assert" {:id "https://ns.flur.ee/ledger#assert", :container :graph},
 "ledger" {:id "https://ns.flur.ee/ledger#ledger"},
 "xsd" {:id "http://www.w3.org/2001/XMLSchema#"},
 "operations" {:id "https://ns.flur.ee/ledger#operations", :type :id}}
