{"message" {:id "https://ns.flur.ee/ledger#message"},
 "role" {:id "https://ns.flur.ee/ledger#role", :type :id},
 "Index" {:id "https://ns.flur.ee/ledger#Index"},
 "targetClass"
 {:id "https://ns.flur.ee/ledger#targetClass", :type :id},
 "index" {:id "https://ns.flur.ee/ledger#index"},
 "allNodes" {:id "https://ns.flur.ee/ledger#allNodes"},
 "delete" {:id "https://ns.flur.ee/ledger#delete"},
 "Context" {:id "https://ns.flur.ee/ledger#Context"},
 "updates" {:id "https://ns.flur.ee/ledger#updates"},
 "branch" {:id "https://ns.flur.ee/ledger#branch"},
 "issuer"
 {:id "https://www.w3.org/2018/credentials#issuer", :type :id},
 "contains"
 {:id "https://ns.flur.ee/ledger#contains",
  :type :id,
  :container :list},
 "author" {:id "https://ns.flur.ee/ledger#author"},
 "txn" {:id "https://ns.flur.ee/ledger#txn"},
 "FNS" {:id "https://ns.flur.ee/ledger#FNS"},
 "creds" {:id "https://www.w3.org/2018/credentials#"},
 "path" {:id "https://ns.flur.ee/ledger#path", :type :id},
 "DB" {:id "https://ns.flur.ee/ledger#DB"},
 "v"
 {:id "https://ns.flur.ee/ledger#v",
  :type "http://www.w3.org/2001/XMLSchema#decimal"},
 "id" {:id "@id"},
 "update" {:id "https://ns.flur.ee/ledger#update"},
 "allow" {:id "https://ns.flur.ee/ledger#allow", :type :id},
 "flakes"
 {:id "https://ns.flur.ee/ledger#flakes",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "Role" {:id "https://ns.flur.ee/ledger#Role"},
 :type-key "type",
 "Commit" {:id "https://ns.flur.ee/ledger#Commit"},
 "tag" {:id "https://ns.flur.ee/ledger#tag"},
 "commit" {:id "https://ns.flur.ee/ledger#commit", :type :id},
 "modify" {:id "https://ns.flur.ee/ledger#modify"},
 "address" {:id "https://ns.flur.ee/ledger#address"},
 "previous" {:id "https://ns.flur.ee/ledger#previous", :type :id},
 "fluree" {:id "https://ns.flur.ee/ledger#"},
 "action" {:id "https://ns.flur.ee/ledger#action", :type :id},
 "retract"
 {:id "https://ns.flur.ee/ledger#retract", :container :graph},
 "functions" {:id "https://ns.flur.ee/ledger#function", :type :id},
 "property" {:id "https://ns.flur.ee/ledger#property", :type :id},
 "time" {:id "https://ns.flur.ee/ledger#time"},
 "t"
 {:id "https://ns.flur.ee/ledger#t",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "rdfs" {:id "http://www.w3.org/2000/01/rdf-schema#"},
 "tx" {:id "https://ns.flur.ee/ledger#tx", :type :id},
 "type" {:id "@type", :type? true},
 "DID" {:id "https://ns.flur.ee/ledger#DID"},
 "create" {:id "https://ns.flur.ee/ledger#create"},
 "targetRole" {:id "https://ns.flur.ee/ledger#targetRole", :type :id},
 "alias" {:id "https://ns.flur.ee/ledger#alias"},
 "Policy" {:id "https://ns.flur.ee/ledger#Policy"},
 "targetNode" {:id "https://ns.flur.ee/ledger#targetNode", :type :id},
 "size"
 {:id "https://ns.flur.ee/ledger#size",
  :type "http://www.w3.org/2001/XMLSchema#long"},
 "Function" {:id "https://ns.flur.ee/ledger#Function"},
 :version 1.1,
 "CommitProof" {:id "https://ns.flur.ee/ledger#CommitProof"},
 "defaultContext"
 {:id "https://ns.flur.ee/ledger#defaultContext", :type :id},
 "data" {:id "https://ns.flur.ee/ledger#data", :type :id},
 "view" {:id "https://ns.flur.ee/ledger#view"},
 "equals"
 {:id "https://ns.flur.ee/ledger#equals", :type :id, :container :list},
 "skos" {:id "http://www.w3.org/2008/05/skos#"},
 "code" {:id "https://ns.flur.ee/ledger#code"},
 "assert" {:id "https://ns.flur.ee/ledger#assert", :container :graph},
 "ns" {:id "https://ns.flur.ee/ledger#ns", :type :id},
 "ledger" {:id "https://ns.flur.ee/ledger#ledger"},
 "xsd" {:id "http://www.w3.org/2001/XMLSchema#"}}
